@import "~bulma/bulma";
@import "~github-markdown-css/github-markdown.css";

.markdown-body {
  pre {
    background: #ddd !important;
  }

  ol, ul {
    list-style: initial;
  }

  ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 16px !important;
  }
}

.rounded {
  border-radius: 4px;
}
